.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: rgb(255, 255, 255);
  height: 150px;
  padding: 20px;
  color: rgb(51,51,51);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  color:rgb(51,51,51);
  margin:auto;
  width: 70vw;
}